.flapper {
    font-family: Roboto Mono, sans-serif;
    font-weight: 500;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
/*  text-transform: uppercase;*/
}

.flapper .digit {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.flapper .digit div {
    position: absolute;
    text-align: center;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.flapper .digit .top {
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.flapper .digit .bottom {
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

/* SIZE STYLES */



.flapper {
/*  line-height: 1.5rem;*/
}

.flapper .digit {
    border-radius: .1em;
    margin: 0 0 0 1px;
}

.flapper .digit:first-child {
    margin: 0;
}

.flapper .digit div {
  border-radius: .1em;
}

.flapper .digit,
.flapper .digit div {
    height: 1em;
    width: 1em;
    font-size: inherit;
    line-height: inherit;
  padding: .25em;
}

.flapper .digit .top {
/*    clip: rect(0px, .4em, 0px, .4em);*/
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 48%, 0 48%);
clip-path: polygon(0 0, 100% 0%, 100% 48%, 0 48%);
}

.flapper .digit .bottom {
/*    clip: rect(.6em, 1em, .6em, 1em); */
-webkit-clip-path: polygon(0 53%, 100% 53%, 100% 100%, 0 100%);
clip-path: polygon(0 53%, 100% 53%, 100% 100%, 0 100%);
}


/* THEME STYLES */

.flapper .digit {
  background: black;
  border: 1px solid black;
}

.flapper .digit div {
    color: #f0f0f0;
/*  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(49, 49, 49) 100%);
  background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(49, 49, 49) 100%);
  background: -ms-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(49, 49, 49) 100%);
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(49, 49, 49) 100%);*/
  background-color: black;
}

.flapper.white {
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
/*  text-transform: lowercase;*/
}

.flapper.white .digit:first-child {
/*  text-transform: uppercase;*/
}

.flapper.white .digit,
.flapper.white .digit div {
  font-size: inherit;
    line-height: inherit;
    padding: 0;
  margin-right: 1px;
  width: .65em;
  height: 1.2em;
}

.flapper.white .digit {
  border-style: none;
  background-color: white;

}

.flapper.white .digit div {
    color: #222;
    background-color: white;
}

.flapper.white .digit .top {
/*    clip: rect(0px, .4em, 0px, .4em);*/
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
}

.flapper.white .digit .bottom {
/*    clip: rect(.6em, 1em, .6em, 1em); */
-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.flapper.light .digit {
    border: 1px none #ddd;
    background-color: #eee;
}

.flapper.light .digit div {
    color: #222;
    background-color: #f6f6f6;
}

.flapper.grey {

}

.flapper.grey .digit {
  border: 1px none #ddd;
  background-color: #000000;
}

.flapper.grey .digit div {
  color: #fefffe;
  background-color: #000000;
}
